*{
    box-sizing: border-box;
}
#wrapper{
    background-color: rgb(51, 50, 50);
    color: white;
    text-align: center;
    padding: 5px;
    
}

.search{
    background-color: lightgray;
    padding: 20px 40px 10px 40px ;

}
.jumbotron{
    background-color: white;
    border: 1px lightgray;
    border-radius: 0px;
}

.card{
    display: inline-block;
}

.five-day{
    padding-left: 30px;
}

.card-body{
    background-color:rgb(0,123,255);
    border-radius: 5px;
    color: white;
    margin-right: 5px;
}

.btn-group-vertical{
    width:95%;
    background-color: whitesmoke;
    color: gray;
    text-align: left;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
    border-top: gray 1px solid;
    border-radius: 5px;
}

.city{
    border-bottom: gray 1px solid;
}