#wrapper{
    background-color: rgb(51, 50, 50);
    color: white;
    text-align: center;
    padding: 5px;
    
}


.search{
    background-color: lightgray;
    padding: 20px 40px 10px 40px ;

}
.jumbotron{
    background-color: white;
    border: 1px lightgray;
    border-radius: 0px;
}
